@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'yekan-bakh'; /* نام فونت دلخواه */
  src: url('/fonts/yekan-bakh.woff2') format('woff2'),
       url('/fonts/yekan-bakh.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* برای موبایل */
@media (max-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr); /* دو ستون برای موبایل */
    gap: 16px;
    padding: 12px;
  }
}

/* برای تبلت و صفحه‌های بزرگتر */
@media (min-width: 769px) and (max-width: 1024px) {
  .services-container {
    grid-template-columns: repeat(3, 1fr); /* سه ستون برای تبلت */
    gap: 20px;
    padding: 16px;
  }
}

/* برای دسکتاپ */
@media (min-width: 1025px) {
  .services-container {
    grid-template-columns: repeat(4, 1fr); /* چهار ستون برای دسکتاپ */
    gap: 24px;
    padding: 24px;
  }
}
